cpp-project/bin
.DS_Store
bazel-bin
bazel-out
bazel-testlogs
.vscode/
java-project/.eclipse/
java-project/MODULE.bazel.lock
java-project/bazel-bin
java-project/bazel-out
java-project/bazel-testlogs
java-project/bazel-java-project

cpp-project/MODULE.bazel.lock
cpp-project/bazel-bin
cpp-project/bazel-out
cpp-project/bazel-testlogs
cpp-project/bazel-cpp-project

py-project/MODULE.bazel.lock
py-project/bazel-bin
py-project/bazel-out
py-project/bazel-testlogs
py-project/bazel-py-project
py-project/.eclipse

rules/gen-rules/MODULE.bazel.lock
rules/gen-rules/bazel-bin
rules/gen-rules/bazel-out
rules/gen-rules/bazel-testlogs
rules/gen-rules/bazel-gen-rules

rules/custom-rules/MODULE.bazel.lock
rules/custom-rules/bazel-bin
rules/custom-rules/bazel-out
rules/custom-rules/bazel-testlogs
rules/custom-rules/bazel-custom-rules
rules/custom-rules/.eclipse/
rules/gen-rules/.eclipse/

macros/MODULE.bazel.lock
macros/bazel-bin
macros/bazel-out
macros/bazel-testlogs
macros/bazel-macros
macros/.eclipse/

pythontoolchain/MODULE.bazel.lock
pythontoolchain/bazel-bin
pythontoolchain/bazel-out
pythontoolchain/bazel-testlogs
pythontoolchain/bazel-pythontoolchain
pythontoolchain/.eclipse