cpp-project/bin
.DS_Store
bazel-bin
bazel-out
bazel-testlogs
.vscode/
java-project/.eclipse/
java-project/MODULE.bazel.lock
java-project/bazel-bin
java-project/bazel-out
java-project/bazel-testlogs
java-project/bazel-java-project

cpp-project/MODULE.bazel.lock
cpp-project/bazel-bin
cpp-project/bazel-out
cpp-project/bazel-testlogs
cpp-project/bazel-cpp-project

py-project/MODULE.bazel.lock
py-project/bazel-bin
py-project/bazel-out
py-project/bazel-testlogs
py-project/bazel-py-project
py-project/.eclipse